<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Craft a Corporate Category Flat Bootstrap Responsive Web Template | Home :: W3layouts</title>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Craft web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="/assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="/assets/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel='stylesheet' type='text/css' href='/assets/css/jquery.easy-gallery.css' /> <!-- For-gallery-CSS -->
<!-- //css files -->

<!-- js -->
	<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700&amp;subset=gujarati,latin-ext" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<div class="Main-agile">
<!-- header -->
	
	<%= render "partials/landing-page-header"%>
<!-- //header -->
<!-- Slider -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<div class="slider-img">
							<img src="/assets/blog-1.jpg" class="img-responsive" alt="education">
						</div>
						<div class="slider-info">
							<h3>THRO'S THE POWER GYM</h3>
							<!-- <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal5">Read More</a></h5> -->
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="/assets/landing-2.jpeg" class="img-responsive" alt="education">
						</div>
						<div class="slider-info">
							<h3>THRO'S THE POWER GYM</h3>
							<!-- <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal5">Read More</a></h5> -->
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="/assets/landing-3.jpeg" class="img-responsive" alt="education">
						</div>
						<div class="slider-info">
							<h3>THRO'S THE POWER GYM</h3>
							<!-- <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal5">Read More</a></h5> -->
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="/assets/blog-1.jpg" class="img-responsive" alt="education">
						</div>
						<div class="slider-info">
							<h3>THRO'S THE POWER GYM</h3>
							<!-- <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal5">Read More</a></h5> -->
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- Modal5 -->
						<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Blog Post</h4>
											<h5>Lorem ipsum dolor sit amet</h5>
											<img src="/assets/header-1.jpeg" alt="blog-image" />
											<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
						
							</div>
				       </div>
				<!-- //Modal5 -->
		<!-- //Slider -->
<!-- //header -->
	<!-- banner-bottom -->
	<div class="agileits_services_grids_bottom">
			<div class="container">
				<div class="col-md-3 agileits_service_grid_btm_left">
					<div class="agileits_service_grid_btm_left1">
						<img src="/assets/header-6.jpeg" alt=" " class="img-responsive" />
						<div class="agileits_service_grid_btm_left2">
							<h5>Lorem Ipsum</h5>
							<p>Morbi ac sapien id lectus fermentum aliquet. Nunc consectetur risus et 
								felis bibendum, at egestas dui pharetra.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_service_grid_btm_left">
					<div class="agileits_service_grid_btm_left1">
						<img src="/assets/header-3.jpeg" alt=" " class="img-responsive" />
						<div class="agileits_service_grid_btm_left2">
							<h5>Lorem Ipsum</h5>
							<p>Morbi ac sapien id lectus fermentum aliquet. Nunc consectetur risus et 
								felis bibendum, at egestas dui pharetra.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_service_grid_btm_left">
					<div class="agileits_service_grid_btm_left1">
						<img src="/assets/header-4.jpeg" alt=" " class="img-responsive" />
						<div class="agileits_service_grid_btm_left2">
							<h5>Lorem Ipsum</h5>
							<p>Morbi ac sapien id lectus fermentum aliquet. Nunc consectetur risus et 
								felis bibendum, at egestas dui pharetra.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_service_grid_btm_left">
					<div class="agileits_service_grid_btm_left1">
						<img src="/assets/header-6.jpeg" alt=" " class="img-responsive" />
						<div class="agileits_service_grid_btm_left2">
							<h5>Lorem Ipsum</h5>
							<p>Morbi ac sapien id lectus fermentum aliquet. Nunc consectetur risus et 
								felis bibendum, at egestas dui pharetra.</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<!-- //banner-bottom --> 

<!-- //main -->
		<!-- About -->
		<div class="content-agileits" id="about">
			<div class="welcome-w3">
				<div class="container">
					<h2 class="w3-abo">About Us </h2>
					<div class="welcome-grids">
						<div class="col-md-5 wel-grid1">
							<div class="port-7 effect-2">
								<div class="image-box">
									<img src="/assets/about_gym.jpeg" alt="Image-2">
								</div>
								<div class="text-desc">
									<h4>THOR'S</h4>
									<p>The Power GYM.</p>
								</div>
							</div>
						</div>
						<div class="col-md-7 wel-grid">
							<h4>sit amet consectetur elit </h4>
							<p>Lorem ipsum dolor sit ame sectetur adipsing elit. Praesent eu est quilrs turpis posuere sodales. Mauris tempus placerat felvel iaculis. Suspendisse blandit id dolor eu bibendum. Integer gravida diam ut quam eleifend, sed tristiqu diam laoreet. Donec ac gravida urna. Sed ut nibh posuere euismod est</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate Praesent eu est quilrs turpis posuere sodales. elit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- //About -->
	
		<!-- Services --> 
		<div class="popular-w3" id="services">
			<div class="container">
			<h3 class="ser-w3">Our Best services</h3>
				<div class="popular-grids">
					<div class="col-md-4 popular-grid">
						<div class="popular-text">
							<h5>Lorem Ipsum is simply text of the printing</h5>
							<div class="detail-bottom">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
							</div>
						</div>
						<img src="/assets/service_1.jpeg" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-4 popular-grid">
						<div class="popular-text sec">
							<h5>Lorem Ipsum is simply text of the printing</h5>
							<div class="detail-bottom">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
							</div>
						</div>
						<img src="/assets/service_2.jpeg" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-4 popular-grid">
						<div class="popular-text">
							<h5>Lorem Ipsum is simply text of the printing</h5>
							<div class="detail-bottom">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
							</div>
						</div>
						<img src="/assets/service_3.jpeg" class="img-responsive" alt=""/>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Services --> 

	<!-- Blogs -->
	<div class="special" id="blogs">
		<div class="container">
		<h3 class="blo-w3">Latest Blogs</h3>
			
			<div class="special-grids">
				<div class="col-md-6 w3l-special-grid">
					<div class="col-md-6 w3ls-special-img">
						<div class="w3ls-special-text effect-1">
							<h4>THOR'S</h4>
						</div>
					</div>
					<div class="col-md-6 agileits-special-info">
						<h4><a href="#" data-toggle="modal" data-target="#myModal1">Lorem Ipsum is Simply</a></h4>
						<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						<a href="#" class="view" data-toggle="modal" data-target="#myModal1">Read More</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3l-special-grid">
					<div class="col-md-6 w3ls-special-img wthree-img1">
						<div class="w3ls-special-text effect-1">
							<h4>THOR'S</h4>
						</div>
					</div>
					<div class="col-md-6 agileits-special-info">
						<h4><a href="#" data-toggle="modal" data-target="#myModal2">Lorem Ipsum is Simply</a></h4>
						<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						<a href="#" class="view" data-toggle="modal" data-target="#myModal2">Read More</a>
					</div>
					<div class="clearfix"> </div>
				</div>
					<div class="col-md-6 w3l-special-grid">
					<div class="col-md-6 agileits-special-info">
						<h4><a href="#" data-toggle="modal" data-target="#myModal3">Lorem Ipsum is Simply</a></h4>
						<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						<a href="#" class="view" data-toggle="modal" data-target="#myModal3">Read More</a>
					</div>
					<div class="col-md-6 w3ls-special-img wthree-img2">
						<div class="w3ls-special-text effect-1">
							<h4>THOR'S</h4>
						</div>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3l-special-grid">
					<div class="col-md-6 agileits-special-info">
						<h4><a href="#" data-toggle="modal" data-target="#myModal4">Lorem Ipsum is Simply</a></h4>
						<p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
						<a href="#" class="view" data-toggle="modal" data-target="#myModal4">Read More</a>
					</div>
					<div class="col-md-6 w3ls-special-img wthree-img3">
						<div class="w3ls-special-text effect-1">
							<h4>THOR'S</h4>
						</div>
					</div>
				
					<div class="clearfix"> </div>
				</div>
				
				
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
			<!-- Modal1 -->
						<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Blog Post</h4>
											<h5>Lorem ipsum dolor sit amet</h5>
											<img src="/assets/blog-1.jpg" alt="blog-image" />
											<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
						
							</div>
				       </div>
			<!-- //Modal1 -->
			<!-- Modal2 -->
						<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Blog Post</h4>
											<h5>Lorem ipsum dolor sit amet</h5>
											<img src="/assets/blog-2.jpg" alt="blog-image" />
											<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
						
							</div>
				       </div>
				<!-- //Modal2 -->
				<!-- Modal3 -->
						<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Blog Post</h4>
											<h5>Lorem ipsum dolor sit amet</h5>
											<img src="/assets/blog-3.jpg" alt="blog-image" />
											<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
						
							</div>
				       </div>
				<!-- //Modal3 -->
				<!-- Modal4 -->
						<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Blog Post</h4>
											<h5>Lorem ipsum dolor sit amet</h5>
											<img src="/assets/blog-4.jpg" alt="blog-image" />
											<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
						
							</div>
				       </div>
				<!-- //Modal4 -->

	<!-- //Blogs -->
	<!-- team -->
	<script src="/assets/js/jquery.vide.min.js"></script>	
	<div data-vide-bg="/assets/Conference">
		<div class="center-container">
		<div class="team-w3l" id="team">
		   <div class="container">
		     <h3 class="title-w3">Our Team</h3>
		      <div class="team-grids">
					<!-- Bottom to top-->
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/t1.jpg" alt="img" /></div>
								<div class="info">
									<h3>Pawan Chaudhary</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/t2.jpg" alt="img" /></div>
								<div class="info">
									<h3>Harman Kaur</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/shubham.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shubham Chauhan</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<!-- <div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/t4.jpg" alt="img" /></div>
								<div class="info">
									<h3>Dale Duminy</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div> -->
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<!-- <div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/t5.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shubham Chauhan</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div> -->
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<!-- <div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="/assets/t6.jpg" alt="img" /></div>
								<div class="info">
									<h3>James Kallis</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div> -->
							<!-- end normal -->
						</div>
						<div class="clearfix"> </div>
					<!-- end Bottom to top-->
				</div>

		  </div>	
	</div>	
	</div>
	</div>
	<!--//team  -->

<!-- portfolio -->
<div class="portfolio" id="portfolio">
	<div class="container">
		<div class="agileits-title">
			<h3>Our Portfolio</h3>
		</div> 
		<div class="sap_tabs">			
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item"><span>All</span></li>
					<li class="resp-tab-item"><span>Corporate 1</span></li>
					<li class="resp-tab-item"><span>Corporate 2</span></li>
					<li class="resp-tab-item"><span>Corporate 3</span></li>				
				</ul>	
				<div class="clearfix"> </div>	
				<div class="resp-tabs-container">
					<div class="tab-1 resp-tab-content">
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/blog-1.jpg' data-big-src='/assets/blog-1.jpg' class="img-responsive" alt=" "style="height: 260px;"/>
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/blog-2.jpg' data-big-src='/assets/blog-2.jpg' class="img-responsive" alt=" " style="height: 260px;"/>
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/portfolio.jpeg' data-big-src='/assets/portfolio.jpeg' class="img-responsive" alt=" " style="height: 260px;" />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/blog-3.jpg' data-big-src='/assets/blog-3.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/service_1.jpeg' data-big-src='/assets/service_1.jpeg' class="img-responsive" alt=" " style="height: 253px;" />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/service_2.jpeg' data-big-src='/assets/service_2.jpeg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/service_3.jpeg' data-big-src='/assets/service_3.jpeg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/about_gym.jpeg' data-big-src='/assets/about_gym.jpeg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/gym1.jpeg' data-big-src='/assets/gym1.jpeg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>		
					<div class="tab-1 resp-tab-content">
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g1.jpg' data-big-src='/assets/g1.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g10.jpg' data-big-src='/assets/g10.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g11.jpg' data-big-src='/assets/g11.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab-1 resp-tab-content">
						<div class="col-md-3 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g5.jpg' data-big-src='/assets/g5.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-3 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g7.jpg' data-big-src='/assets/g7.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-3 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g8.jpg' data-big-src='/assets/g8.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-3 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g6.jpg' data-big-src='/assets/g6.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tab-1 resp-tab-content">
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g2.jpg' data-big-src='/assets/g2.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g4.jpg' data-big-src='/assets/g4.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-grids">
							<div class="gallery-grid">
								<img src='/assets/g7.jpg' data-big-src='/assets/g7.jpg' class="img-responsive" alt=" " />
								<p  style='opacity:0;display:none'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div> 
<!-- //portfolio -->

<!-- Contact -->
<div class="contact" id="mail">
	<div class="container">
		<div class="contact-main">	
			<div class="contact-top">
				<h3>Contact Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
			</div>		 			 
			<div class="contact-block1">
			 	<div class="contact-block-left">
				 	<form action="#" method="post">
				 		<input type="text" placeholder="Name" required="" name="Name">
	                    <input type="email" class="email" placeholder="Email" name="Email" required="">             
	                    <textarea placeholder="Message" name="message" required=""></textarea>
	                    <input type="submit" value="Send">
				 	</form>
			 	</div>
			</div>			 
		</div>
		<div class="social-w3">
			<div class="main">
								<ul>
									<li class="f1">
										<a href="#" class="hvr-grow"><i class="fa fa-facebook f1" aria-hidden="true"></i></a>
										<p>Facebook</p>
									</li>
									<li class="f2">
										<a href="#" class="hvr-grow"><i class="fa fa-google-plus f2" aria-hidden="true"></i></a>
										<p>Google Plus</p>
									</li>
									<li class="f3">
										<a href="#" class="hvr-grow"><i class="fa fa-twitter f3" aria-hidden="true"></i></a>
										<p>Twitter</p>
									</li>
									<li class="f4">
										<a href="#" class="hvr-grow"><i class="fa fa-linkedin f5" aria-hidden="true"></i></a>
										<p>Linkedin</p>
									</li>
									<li class="f5">
										<a href="#" class="hvr-grow"><i class="fa fa-dribbble f6" aria-hidden="true"></i></a>
										<p>Dribbble</p>
									</li>
								</ul>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //Contact -->
<!-- //main -->

<!-- footer -->
	<%= render "partials/landing-page-footer"%>
<!-- //footer -->

<!-- js-scripts -->					
		
			<script type="text/javascript" src="/assets/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
			
		<!-- Baneer-js -->
		<script src="/assets/js/responsiveslides.min.js"></script>
		<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						pager:false,
						nav: true,
						speed: 1000,
						namespace: "callbacks",
						before: function () {
							$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
						}
					});
				});
			</script>
		<!-- //Baneer-js -->
		
		<!-- For-Gallery-js -->
			<!-- script for portfolio -->
			<script type='text/javascript' src='/assets/js/jquery.easy-gallery.js' ></script>
			<script type='text/javascript'>
			  //init Gallery
			  $('.portfolio').easyGallery();
			</script>
			<script src="/assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion           
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});		
			</script>
			<!-- //script for portfolio -->
		<!-- //For-Gallery-js -->

		<!-- start-smoth-scrolling -->
				<script type="text/javascript" src="/assets/js/move-top.js"></script>
				<script type="text/javascript" src="/assets/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>
		<!-- start-smoth-scrolling -->
		<!-- smooth scrolling-bottom-to-top -->
				<script type="text/javascript">
					$(document).ready(function() {
						debugger							
					$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!-- //smooth scrolling-bottom-to-top -->

<!-- //js-scripts -->
</body>
</html>

<style type="text/css">
.Main-agile { 
    margin-top: -60px;
}
.rslides img {
    height: 540px;
    border: 0;
    width: 100%;
}
</style>